body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the body */
}

#principal {
  text-align: center;
}

#titulo {
  font-size: 24px;
  color: #333;
}

#botones {
  text-align: center;
  margin-top: 20px;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin: 0 10px;
}

/*PUNTUACIONES*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.scoring {
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}

.col-md-7 {
    margin: 20px auto;
}

.content-table-container {
    max-height: 200px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scroll if content overflows */
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white; /* Add white background */
}

.content-table th,
.content-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.content-table th {
    background-color: #f2f2f2;
}

.btn {
    text-decoration: none;
    padding: 8px 12px;
    margin: 4px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #4CAF50;
    color: white;
}

.btn-danger {
    background-color: #f44336;
    color: white;
}

.btn-delete {
    margin-left: 8px;
}

#volver {
    margin-top: 20px;
}

.boton {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton:hover {
    background-color: #2980b9;
}


/*GAMEOVER*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the body */
}

.gameover {
  background-color: #fff; /* Background color for the content */
  border-radius: 10px; /* Rounded corners for the content */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  text-align: center;
}

.nickname {
  margin-bottom: 20px;
}

.nickname label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.nickname input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.guardar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.guardar button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

#jugadorGuardado {
  margin-top: 10px;
  color: #28a745; /* Green color for success message */
  display: none;
}

#dosbotones {
  margin-top: 20px;
}

.boton {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

/*EDIT*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the body */
}

.edit.1 {
  background-color: #fff; /* Background color for the content */
  border-radius: 10px; /* Rounded corners for the content */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  text-align: center;
}

#editnombre {
  font-size: 24px;
  color: #333;
}

.edit.2 {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#botonedit {
  padding: 10px;
  width: 325px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top:20px;
}

#botonedit:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

/*juego*/
body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}